.sidebar {
  flex: 0.2;
  position: sticky;
  top: 0px;
  height: 0px;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar__footer {
  font-size: 13px;
  color: black;
  padding: 12px 24px 0px;
}

@media (max-width: 650px) {
  .sidebar__footer {
    font-size: 7px;
    color: black;
    padding: 12px 24px 0px;
  }
}
