.recommendedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0px;
}

.recommendedVideos {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}

.resultNotFound {
  margin: 50px;
  color: red;
  font-weight: 400;
}

@media (max-width: 450px) {
  .recommendedVideos {
    padding: 5px;
  }
}
